@import './variables.scss';
@import './z-index.scss';
@import './animations.scss';
@import './components/terminal.scss';
@import './components/resize-handle.scss';
@import './components/code.scss';
@import './components/editor.scss';
@import './components/toast.scss';

html,
body {
  height: 100%;
  width: 100%;
}


html[data-theme="dark"] {
  select {
    background-color: #141414 !important;
  }

  option {
    background-color: #141414 !important;
  }
}

